# Android
# Build your Android project with Gradle.
# Add steps that test, sign, and distribute the APK, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/android

trigger:
- master

pool:
  vmImage: 'macos-latest'

steps:
- task: Gradle@2
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    publishJUnitResults: false
    testResultsFiles: '**/TEST-*.xml'
    tasks: 'assembleDebug'    
- task: AndroidSigning@3
  inputs:
    apkFiles: '**/*.apk'
    apksignerKeystoreFile: 'keystorefile1.jks'
    apksignerKeystorePassword: '20200312'
    apksignerKeystoreAlias: 'key0'
    apksignerKeyPassword: '20200312'
- task: AppCenterDistribute@3
  inputs:
    serverEndpoint: 'App1'
    appSlug: 'myan20/Sample-Android-App'
    appFile: '../*.apk'
    releaseNotesOption: 'input'
    releaseNotesInput: 'First release'
    destinationType: 'groups'